/*

        Website developed by Andrei Frîntu
        Critical maintenance @ codulluiandrei.ro

        Version:    1.2@main:targujiuurl.ro
        Stage:      dev@localhost
        Contact:    admin@codulluiandrei.ro

*/

/* Imported font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

/* Variables */
:root {
    --albastru: #253779;
    --galben: #f7941d;
}

/* Global styles */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	appearance: auto !important;
	-webkit-appearance: auto !important;
}

/* Anchor */
a {
    color: var(--albastru) !important;
    text-decoration: none !important;
    transition: .2s;
}
a:hover > svg {
    transition: .2s;
    fill: #f7941d;
}
a > svg {
    transition: .2s;
}
a:hover {
    color: var(--albastru) !important;
    opacity: 80%;
    transition: .2s;
}
a.nav-link, a.nav-link:active, a.nav-link:focus {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--albastru) !important;
	  border-radius: 7px;
    transition: .2s;
}
a.nav-link:hover {
    color: var(--galben) !important;
    background: #e9ecef;
    border-radius: 7px;
    transition: .2s;
}
option {
	color: #253779;
	font-weight: bold;
}
::placeholder {
    color: var(--galben) !important;
}

/* Custom bootstrap classes */
/* Text align justify */
.text-justify {
	text-align: justify !important;
}
.text-galben {
	color: var(--galben) !important;
}
.d-sm-none {
    display: flex;
}
.w-90 {
    width: 90% !important;
}
.w-md-50 {
    width: 50%;
}
.btn-outline-light:hover {
    color: var(--galben) !important;
}

/* Hero section */
.hero {
    height: 100vh;
    background-image: url('background-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Footer section */
.footer {
	min-height: 50vh;
    background-image: url('background-4.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Diagonal sections */
.diagonal {
    min-height: 50vh;
    background: url('background-2.svg');
    background-size: cover;
    background-position: center;
    color: var(--galben);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(-3deg);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.diagonal_sec {
    transform: skewY(3deg) !important;
}
.rev-diagonal {
    text-underline-offset: 8px;
    transform: skewY(3deg);
}
.rev-diagonal_sec {
    text-underline-offset: 8px;
    transform: skewY(-3deg);
}

/* Body background */
.middle {
    min-height: 100vh;
    background-image: url('background-3.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Media query */
@media (max-width: 991.98px) {
    .fl-cont, .flex-sm-row {
        flex-direction: column !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .h-sm-300 {
        min-height: 300px;
    }
	.p-sm-0 {
		margin: 0px !important;
		padding: 0px !important;
	}
	.w-md-50 {
	    width: 100% !important;
	}
	.d-sm-none {
	    display: none;
	}
	.invisible {
	    display: none !important;
	}
}
@media (pointer: coarse) {
    .hero, .login, .middle, .footer {
        background-attachment: scroll !important;
        background-position: center center; 
    }
}