/*

        Website developed by Andrei Frîntu
        Critical maintenance @ codulluiandrei.ro

        Version:    1.1@main:targujiuurl.ro
        Stage:      dev@localhost
        Contact:    admin@codulluiandrei.ro

*/

/* Imported font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

/* Variables */
:root {
    --albastru: #253779;
    --galben: #f7941d;
}

/* Global styles */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	appearance: auto !important;
	-webkit-appearance: auto !important;
}