/*

        Website developed by Andrei Frîntu
        Critical maintenance @ codulluiandrei.ro

        Version:    1.2@main:targujiuurl.ro
        Stage:      dev@localhost
        Contact:    admin@codulluiandrei.ro

*/

/* Imported font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

/* Variables */
:root {
    --albastru: #253779;
    --galben: #f7941d;
}

/* Global styles */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	appearance: auto !important;
	-webkit-appearance: auto !important;
}

/* Anchor */
a {
    color: var(--albastru) !important;
    text-decoration: none !important;
    transition: .2s;
}
a:hover > svg {
    transition: .2s;
    fill: #f7941d;
}
a > svg {
    transition: .2s;
}
a:hover {
    color: var(--albastru) !important;
    opacity: 80%;
    transition: .2s;
}
a.nav-link, a.nav-link:active, a.nav-link:focus {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--albastru) !important;
	  border-radius: 7px;
    transition: .2s;
}
a.nav-link:hover {
    color: var(--galben) !important;
    background: #e9ecef;
    border-radius: 7px;
    transition: .2s;
}
option {
	color: #253779;
	font-weight: bold;
}
::placeholder {
    color: var(--galben) !important;
}

/* Custom bootstrap classes */
/* Text align justify */
.text-justify {
	text-align: justify !important;
}
.text-galben {
	color: var(--galben) !important;
}
.d-sm-none {
    display: flex;
}
.w-90 {
    width: 90% !important;
}
.w-md-50 {
    width: 50%;
}
.btn-outline-light:hover {
    color: var(--galben) !important;
}

/* Hero section */
.hero {
    height: 100vh;
    background-image: url('background-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Footer section */
.footer {
	min-height: 50vh;
    background-image: url('background-4.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Activity card */
.card {
    min-height: 200px;
    flex-basis: calc((100% / 7)) !important;
    flex-grow: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 400px 200px rgba(0, 0, 0, .3);
    text-shadow: 0 0 3px var(--galben), 0 0 5px var(--albastru);
}
/* Diagonal sections */
.diagonal {
    min-height: 50vh;
    background: url('background-2.svg');
    background-size: cover;
    background-position: center;
    color: var(--galben);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(-3deg);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.diagonal_sec {
    transform: skewY(3deg) !important;
}
.rev-diagonal {
    text-underline-offset: 8px;
    transform: skewY(3deg);
}
.rev-diagonal_sec {
    text-underline-offset: 8px;
    transform: skewY(-3deg);
}

/* Body background */
.middle {
    min-height: 100vh;
    background-image: url('background-3.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Media query */
@media (max-width: 991.98px) {
    .fl-cont, .flex-sm-row {
        flex-direction: column !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .h-sm-300 {
        min-height: 300px;
    }
	.p-sm-0 {
		margin: 0px !important;
		padding: 0px !important;
	}
	.w-md-50 {
	    width: 100% !important;
	}
	.d-sm-none {
	    display: none;
	}
	.invisible {
	    display: none !important;
	}
}
@media (pointer: coarse) {
    .hero, .login, .middle, .footer {
        background-attachment: scroll !important;
        background-position: center center; 
    }
}

/* Loader animation */
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--galben);
    z-index: 1;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}